* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.qr-img {
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 20px;
  text-align: center;
}

.card-description {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
